section {
    padding: 50px;
}
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/images/internship-banner.jpg");
    
    height: 420px;
}

h2 {
    margin: 3px;
    margin-bottom: 0;
    padding: 0px;
}

h3 {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
    color: rgb(80, 80, 80);
    font-size: 18px;
    text-align: center;

    max-width: 800px;
}

.cards-container {
    display: flex;
    gap: 20px;
    flex: 1 1 0;
}

.card {
    flex: 1;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(80, 80, 80, 0.2);
}

.card h1 {
    color: rgb(224, 224, 224);
    font-size: 80px;
    font-weight: 100;
}

.card h2 {
    font-size: 20px;
    color: rgb(33, 33, 33)
}

.card h3 {
    font-size: 18px;
}

.career-section main {
    display: flex;
    flex-direction: column;
}

.button {
    color: white;
    background-color: rgb(0, 120, 190);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.internship-section {
    padding: 0;
}

.internship-section-container {
    display: flex;
    flex-basis: 1;
}

.internship-section img {
    object-fit: contain;
}

.details-container {
    width: 100%;
    padding: 60px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.details-container h1 {
    color: rgb(0, 120, 190);
    font-size: 13px;
    font-family: TheMixSemiBoldPlain;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0;
    margin: 0;
}
.details-container h2 {
    font-size: 32px;
    color: rgb(33, 33, 33);
    padding: 0;
    margin: 0;
    text-align: left;
}

.details-container h3 {
    text-align: left;
    margin: 0;
}

.details-container a {
    margin: 20px;
    width: fit-content
}

.testimonies-section {
    padding: 0;
    display: flex;
    flex-basis: 1;
}

.testimonies-section>div {
    width: 100%;
    flex-grow: 1;
    padding: 50px;
}

.quote {
    margin: 20px 40px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}

.quote-author {
    text-align: left;
    font-weight: bold;
    font-style:italic;
    font-size: 16px;
}