@font-face {
  font-family: TheMixBlackCaps;
  src: url("../assets/fonts/TheMix-9-BlackCaps.otf") format("opentype");
}

@font-face {
  font-family: TheMixSemiBoldPlain;
  font-weight: bold;
  src: url("../assets/fonts/TheMixSemiBold-Plain.otf") format("opentype");
}

* {
  margin: 0px;
  box-sizing: border-box;

  font-family: TheMixSemiBoldPlain;
  font-size: 13px;
}

html {
}

nav {
  position: fixed;
  padding: 40px 0;
  width: 100vw;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  width: 80px;
  height: auto;
  margin: 0px 20px;
}

nav img {
  width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1rem;
}

nav ul li {
  padding: 10px 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
}

nav ul li:hover {
  background-color: #ebebeb22;
}

nav ul li:nth-child(6) {
  padding: 0.6rem 0.4rem;
  border-radius: 30px;
}

nav ul li:nth-child(6):hover {
   background-color: rgb(0, 120, 190);
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 5px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 0.8rem;
  text-transform: uppercase;
  opacity: 100%;
}

section {

}

h1 {
    font-family: TheMixBlackCaps;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: TheMixBlackCaps;
    text-transform: uppercase;
    font-size: 32px;
    padding: 40px;
    text-align: center;
    font-weight: 600;
}