@font-face {
  font-family: TheMixBlackCaps;
  src: url("../assets/fonts/TheMix-9-BlackCaps.otf") format("opentype");
}

@font-face {
  font-family: TheMixSemiBoldPlain;
  font-weight: bold;
  src: url("../assets/fonts/TheMixSemiBold-Plain.otf") format("opentype");
}

* {
  margin: 0px;
  box-sizing: border-box;

  font-family: TheMixSemiBoldPlain;
  font-size: 13px;
}

html {
}

nav {
  position: fixed;
  padding: 40px 0;
  width: 100vw;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

nav div {
  width: 80px;
  height: auto;
  margin: 0px 20px;
}

nav img {
  width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1rem;
}

nav ul li {
  padding: 10px 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
}

nav ul li:hover {
  background-color: #ebebeb22;
}

nav ul li:nth-child(6) {
  padding: 0.6rem 0.4rem;
  border-radius: 30px;
}

nav ul li:nth-child(6):hover {
   background-color: rgb(0, 120, 190);
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 5px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 0.8rem;
  text-transform: uppercase;
  opacity: 100%;
}

section {

}

h1 {
    font-family: TheMixBlackCaps;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: TheMixBlackCaps;
    text-transform: uppercase;
    font-size: 32px;
    padding: 40px;
    text-align: center;
    font-weight: 600;
}

footer {
    margin: 0;
    padding: 10px;
    background-color: rgb(33, 33, 33);
}

footer h2 {
    padding: 10px;
    color: rgb(182, 182, 182); 
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

footer h3 {
    font-size: 16px;
    margin-top: 30px;
    color: rgb(100, 100, 100);
}

footer p {
    margin: 10px;
    margin-left: 20px;
    font-size: 14px;
    color: white;
}

footer span {
    color: rgb(157, 157, 157);
    font-size: 12px;
}

footer .gap {
    gap: 20px;
}

footer .download-app {
    margin: 5px;
    margin-bottom: 0;
}

footer .download-app a {
  width: 180px;
  margin: 10px;
}

footer .social-media-icons {
    margin-right: 20px;
}

footer .social-media-icons img{
    width: 16px;
    height: 16px;
    margin: 8px;
}